<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Users</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/abc/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/abc/css/style.css" rel="stylesheet" />
        
    </head>
    <body id="page-top">
        <nav>
            <a class="navbar-brand js-scroll-trigger" href="/" >Meddit</a>
            <ul>
                <li class="nav-item mx-0 mx-lg-1"><a href="#" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"><i class="fa fa-user mr-1 pr-1" aria-hidden="true"></i>Welcome, <? =user.name?></a></li>
                        <li><a href="/admin/adduser">Add Users</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a href="/logout" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"><i class="fas fa-sign-out-alt mr-1 pr-1"></i>Logout</a></li>
                   
            </ul>
        </nav>
               <!-- Body Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- ---------------Body start---------------- -->
               <div id="table">
                <table border="2" width="100%" align="center" >
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>User Phone</th>
                            <th>Address</th>
                            <th>Blood Group</th>
                            <th>User Type</th>
                            <th>E-mail</th >     
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach( function(user) { %>
                            <tr>
                                <td><%= user.user_id %></td>
                                <td><%= user.name %></td>
                                <td><%= user.phone_number %></td>            
                                <td><%= user.address %></td>
                                <td><%= user.blood_group %></td>
                                <td><%= user.user_type%></td>
                                <td><%= user.email %></td>
                                <td>

                                    <a href="/admin/updateuser/<%= user.user_id %>" class="btn btn-block btn-danger">Update</a>
                                    <a href="/admin/delete/<%= user.user_id %>" class="btn btn-block btn-danger">Remove</a>
                                   
                                </td>
                            </tr>
                        <% }) %>
                </table>

               </div>

                <!-- ---------------Body End---------------- -->
            </div>
        </section>
        <!-- Footer-->
        <div class="footer">
            <p>Copyrights @ATP-3G6</p>
          </div>
         </body>
</html>
